@import '~antd/dist/antd.css';

.App {
    padding: 20px;
}

.format {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    background-color: #f6f6f6;
    border-radius: 4px;
}

.ace_content {
    padding: 10px;
}

.sqlinput {
    border-radius: 6px;
    border: 1px solid #e6e6e6;
}

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 40vmin;*/
/*pointer-events: none;*/
/*}*/

/*.App-header {*/
/*background-color: #282c34;*/
/*min-height: 100vh;*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: center;*/
/*font-size: calc(10px + 2vmin);*/
/*color: white;*/
/*}*/

/*.App-link {*/
/*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
